# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Race.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\vstok\RiderProjects\Race\.idea\.idea.Race\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
